backports.weakref==1.0rc1
bleach==1.5.0
cycler==0.10.0
funcsigs==1.0.2
functools32==3.2.3.post2
html5lib==0.9999999
Markdown==2.6.8
matplotlib==2.0.2
mock==2.0.0
numpy==1.13.1
olefile==0.44
pandas==0.20.3
pbr==3.1.1
Pillow==4.2.1
protobuf==3.3.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
six==1.10.0
subprocess32==3.2.7
tensorflow==1.2.1
Werkzeug==0.12.2
